/* #city{

    color: white;
    border-bottom: 2px solid #feb062;
    border-radius: 0;
    border: 0;
    z-index: 100;
}

#country{ */
    /* background: transparent; */
    /* color: white;
    border-bottom: 2px solid #feb062;
    border-radius: 0;
    border: 0;
    z-index: 100;
}
#city:focus {
    background: transparent;
    box-shadow: none;
}

#country:focus {
    background: transparent;
    box-shadow: none;
} */

.form-control:focus{
    box-shadow: none;
    border: none;
    background: rgba(245,237,237, 0.3);
    border-bottom: 3px solid #feb062;;
}
/* form {
    margin-top: 5px;
} */
