.weather-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../assest/listBg.jpg');
    background-repeat: no-repeat;
    margin-top: 0;
    background-size: cover;

}

.weather-list-container .weather-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem;
}

.weather-list-container .weather-section ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
    padding: 0;


}

@media only screen and (max-width:1320px) {

    .weather-list-container .weather-section ul {
        flex-wrap: wrap;
    }
}
